<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nccumis">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="nccumis"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".merchandise"></activity>
        <activity android:name=".LogIn" />
        <activity android:name=".Home" />
        <activity android:name=".add_type" />
        <activity android:name=".add_book" />
        <activity android:name=".add_expense" />
        <activity android:name=".add_income" />
        <activity android:name=".check_expense" />
        <activity android:name=".check_income" />
        <activity android:name=".PasswordCheckEmail" />
        <activity android:name=".Register" />
        <activity
            android:name=".CountMoney"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>