<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nccumis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="nccumis"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".Home"></activity>
        <activity android:name=".add_type"></activity>
        <activity android:name=".add_book"></activity>
        <activity android:name=".add_expense"></activity>
        <activity android:name=".add_income"></activity>
        <activity android:name=".check_expense"></activity>
        <activity android:name=".check_income"></activity>

        <activity android:name=".PasswordCheckEmail" />
        <activity android:name=".LogIn"></activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>